.results {
  margin-top: 20px;
  border: 1px solid #777;
  border-collapse: collapse;
}

.results__cell {
  padding: 10px;
  border: 1px solid #777;
}

.results__cell--center {
  text-align: center;
}

.results__link {
  text-decoration: none;
}